<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>DreamFusion</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative">
        <div style="width: 1920px; height: 1080px; left: 0px; top: 2.95px; position: absolute; background: linear-gradient(180deg, #08002C 0%, #7F80C0 100%), linear-gradient(0deg,  0%,  100%)"></div>
        <img style="width: 249px; height: 239px; left: 386.27px; top: 267.71px; position: absolute; transform: rotate(128.79deg); transform-origin: 0 0" src="https://via.placeholder.com/249x239" />
        <img style="width: 249px; height: 207px; left: 1518.53px; top: 96px; position: absolute; transform: rotate(27.17deg); transform-origin: 0 0" src="https://via.placeholder.com/249x207" />
        <img style="width: 88px; height: 66px; left: 331.27px; top: 855px; position: absolute; transform: rotate(36.52deg); transform-origin: 0 0" src="https://via.placeholder.com/88x66" />
        <img style="width: 460px; height: 202px; left: 1321px; top: 354px; position: absolute" src="https://via.placeholder.com/460x202" />
        <img style="width: 88px; height: 66px; left: 1639.54px; top: 882.13px; position: absolute; transform: rotate(-13.44deg); transform-origin: 0 0" src="https://via.placeholder.com/88x66" />
        <img style="width: 88px; height: 66px; left: 1010px; top: 339.78px; position: absolute; transform: rotate(-34.45deg); transform-origin: 0 0" src="https://via.placeholder.com/88x66" />
        <img style="width: 88px; height: 66px; left: 706.85px; top: 241.33px; position: absolute; transform: rotate(106.13deg); transform-origin: 0 0" src="https://via.placeholder.com/88x66" />
        <div style="width: 1230px; height: 124px; left: 619px; top: 83px; position: absolute; color: white; font-size: 64px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">ВИЗУАЛИЗАЦИЯ СНА</div>
        <div style="width: 1661px; height: 248px; left: 132px; top: 472px; position: absolute; background: rgba(217, 217, 217, 0.80); border-radius: 45px"></div>
        <div style="width: 1582px; height: 139px; left: 166px; top: 542px; position: absolute; color: black; font-size: 64px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">Опишите ваш сон...</div>
        <div style="width: 767px; height: 184px; left: 619px; top: 811px; position: absolute; background: #D9D9D9; border-radius: 90px"></div>
        <div style="width: 537px; height: 110px; left: 775px; top: 854px; position: absolute; color: black; font-size: 64px; font-family: Century Gothic; font-weight: 400; word-wrap: break-word">Сгенерировать</div>
    </div>
</html>